
.vs/
.idea/
.vscode/

desktop.ini

*.pyc
*.tile
*.xlsx
*.xls
*.csv
*.mtx
*.csc
*.csr
*.coo
*.vis
*.png

cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/

profiling/result/*.txt
profiling/datasets/directed/*
profiling/datasets/undirected/*
profiling/data*

partition/*/data.txt

verification/performance/test_run_dir/
verification/performance/target/
verification/performance/project/target/
verification/performance/project/project/target/

cppmain/result/*.txt
cppmain/evaluation

cppdram/my_output.txt

compiler/data/*
compiler/result/*
